:root {
    --color_1: #f43c6e;
    --color_2: #7ec4ff;
    --color_3: #408dff;
    --color_4: #154aaa;
    --color_5: #4cc2c4;
    --color_6: #ffff;
    --color_7: #0c3866;
    --color_8: rgba(135, 172, 202, 0.4);
    --color_9: #073907;
    --color_10:#9370db;
    --color_11:#e3edf6;
    --form_color:rgba(213, 235, 247, 0.50);

    --font_master: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    --font_company_name: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    --opacity_1: 55%;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    font-family: var(--font_master);
  }

.main_container {
    height: 100vh;
    width: 100vw;
    background-color: var(--color_1);
    display: flex;
    flex-direction: row;
}

.main_container .landing_description {
    flex: 3;
    background-color: var(--color_7);
}

.main_container .landing_graphics {
    flex: 2;
    background-color: var(--color_7);
}

.company_name {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: var(--color_3);
}

.main_container .landing_description .description_text .subtitle {
    /* TODO: add font and fontsize */
    margin-top: 10%;
    margin-left: 10%;
    text-align: left;
    color: var(--color_6);
    font-size: 2.5rem;
}

.main_container .landing_description .description_text .welcome_message {
    /* TODO: add font and fontsize */
    margin-top: 8%;
    margin-left: 10%;
    text-align: left;
    /*transform: translateX(-50%);*/
    color: var(--color_6);
    font-size: 1.3rem;
}

.main_container .landing_description .description_buttons {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-left: -18%;
}

.login_button,
.signup_button {
    border-width: 0;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 1%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.login_button {
    color: var(--color_6);
    background-color: var(--color_5);
    border-color: var(--color_6);
    margin-right: 5%;
    border-width: 2px;
}

.signup_button {
    color: var(--color_5);

    border-width: 2px;
    border-style: solid;
    border-color: var(--color_5);
}

.login_button:hover {
    background-color: var(--color_6);
    color: var(--color_5);
    border-color: var(--color_5);
}

.signup_button:hover {
    background-color: var(--color_5);
    color: var(--color_6);
    border-color: var(--color_6);
}

.landing_img {
    width: 90%;
    height: 80%;
    margin-top: 10%;
}


/*Sign in*/

.main-container-sign-in{
    background-color: var(--color_11);
    height: 100vh;
    width: 100vw;
  }
  
  .sign-in-container{
    background-color: var(--color_11);
    height: 82%;
    width: 70%;
    margin: 4% 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  }
  
  .login-form{
    margin: 10% 5%; 
  }
  
  .sign-in-form-group {
    margin-bottom: 5%;
  }
  
  .sign-in-form-group label {
      display: block;
      margin-bottom: 2%;
      font-size: 1.2rem;
      color: var(--color_4);
      font-weight: bold;
  }
  
  .sign-in-form-group input {
    width: 80%;
    padding: 3%;
    border: 1px solid var(--color_2);
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
      -webkit-text-fill-color:var(--color_4) !important;
  }
  
  .sign-in-form-group input {
      width: 80%;
      padding: 3%;
      border: 1px solid var(--color_2);
      background-color: var(--color_6);
  }
  
  .sign-in-form-group input:focus {
    outline: none;
    border-color:var(--color_4);
  }
  
  .sign-in-form-group .forgot-password {
    text-align: left;
    font-size: 1.1rem;
  }
  
  .password-reset{
    display: flex;
  }
  
  .btn {
    background-color:var(--color_7);
    color: var(--color_6);
    padding: 3%;
    border: none;
    cursor: pointer;
    width: 86%;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: var(--color_5);
  }
  
  .company-name-sign-in{
    font-size: 2rem;
    font-family: var(--font_company_name);
    color: var(--color_5);
    flex:6;
    float: left;
    margin: 3% 4%;
  }
  
  .logo-sign-in{
    margin-left: 10%;
   flex: 1;
   float: right;
  }
  
  .sign-in-container-company-logo{
    height: 80%;
    width: 70%;
    margin: 2% 10%;
  }
  
  .company-profile{
    display: flex;
    margin-bottom: 8%;
  }
  
  
  /*sign up */
  
  
  .main-container-sign-up{
    background-color: var(--color_11);
    height: 100vh;
    width: 100vw;
    overflow: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
  
  .main-container-sign-up::-webkit-scrollbar {
    display: none; 
  }
  
  .sign-up-container{
  height: 180%;
  width: 40%;
  margin: 2.5% 5% 2.5% 45% ;
  background-color: var(--color_11);
  color: var(--color_7);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  }
  
  .company-name-sign-up{
    font-size: 2rem;
    color: var(--color_5);
    font-weight: bold;
    font-family: var(--font_company_name);
    flex: 4;
    float: left;
    margin-top: 5%;
  }
  
  .logo-sign-up{
    flex: 1;
    float: right;
    margin-right: 5%;
    }
    
    .company-profile-sign-up{
      display: flex;
      position:fixed;
      margin: 3% 8%;
      width: 20%; 
    }
    
  .sign-up-image{
  width: 30%;
  height: 50%;
  margin: 23% 10% 0% 8%;
  position:fixed;
  }
  
  .sign-up-message{
    margin:1% 2% 0%;
    color: var(--color_7);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2%;
  }
  
  .sign-up-input-container{
    display: grid;
    padding: 2%;
  }
  
  .sign-up-left{
    margin: 1% 1% 0%; 
  }
  
  .sign-up-bottom{
    margin: 1%;  
  }
  .registration-form label {
    display: block;
    margin-bottom: 2%;
    font-size: 1.2rem;
    color: var(--color_4);
    font-weight: bold;
  }
  
  .registration-form input:focus {
    outline: none;
    border-color:var(--color_4);
  }
  
  .registration-form input[type="text"],
  .registration-form input[type="email"],
  .registration-form input[type="tel"],
  .registration-form input[type="date"],
  .registration-form input[type="file"],
  .registration-form input[type="password"]{
    width: 80%;
    padding: 2%;
    border: 1px solid var(--color_2);
    margin: 0% 5% 2%;
  }
  
  .registration-form select{
    width: 84%;
    padding: 2%;
    border: 1px solid var(--color_2);
    margin: 0% 5% 2%; 
  }
  
  .registration-form button[type="submit"] {
    background-color:var(--color_7);
    color: var(--color_6);
    padding: 2% 3%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 70%;
    margin-left: 15%;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .registration-form button[type="submit"]:hover {
    background-color: var(--color_6);
    border: var(--color_4);
    color: var(--color_4);
    border-style: solid;
  }
  
  .file-upload-wrapper {
    margin-bottom: 20px;
  }
  
  .custom-file-upload {
    background-color:var(--color_5);
    color: var(--color_6);
    padding: 2% 3%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .custom-file-upload:hover {
    background-color: var(--color_10);
  }
  
  #nicPhotoName, #agreementPhotoName {
    font-size: 14px;
    line-height: 1.5;
  }
  
  input:focus, select:focus, textarea:focus, button:focus {
    outline: 1px solid var(--color_2)
  }
  

  /*Forget password*/

 
.main-container-forget-password{
  background-color: var(--color_11);
  height: 100vh;
  width: 100vw;
}

.forget-password-container{
  display: grid;
  grid-template-rows: 1fr 2fr;
  height: 90%;
  width: 60%;
  margin: 2% 20%;
  background-color: var(--color_11);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.forget-password-container-a{
  display: grid;
  grid-template-rows: 2fr 0.5fr;

}

.forget-password-title{
  font-size: 1.8rem;
  color: var(--color_4);
  font-weight: bold;
  text-align: center;
  margin: 2%;
}

.forget-password-image{
  height: 95%;
  width: 50%;
  margin: 1% 20% -25% 25%;
}

.form-forget-password {
  margin: 2% 25% 2% 30%;
}

.form-forget-password label {
    display: block;
    margin-bottom: 1%;
    font-size: 1.1rem;
    color: var(--color_4);
    font-weight: bold;
}

.form-forget-password input {
  width: 80%;
  padding: 2%;
  border: 1px solid var(--color_2);
  align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color_6) inset !important;
    -webkit-text-fill-color:var(--color_4) !important;
}

.form-forget-password input {
    width: 85%;
    padding: 3%;
    border: 1px solid var(--color_2);
    background-color: var(--color_6);
}

.form-forget-password input:focus {
  outline: none;
  border-color:var(--color_4);
}

.btn-save-forget-password {
  background-color:var(--color_7);
  color: var(--color_6);
  padding: 1.5%;
  border: none;
  cursor: pointer;
  width: 41%;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2% 25% 2% 30%;
}

.btn-save-forget-password:hover {
  background-color: var(--color_6);
  border-color: var(--color_4);
  border-style: solid;
  color: var(--color_4);
  box-shadow: 3px 0 5px rgba(22, 35, 147, );
}
  