:root {
    --color_1: #f43c6e;
    --color_2: #7ec4ff;
    --color_3: #408dff;
    --color_4: #154aaa;
    --color_5: #4cc2c4;
    --color_6: #ffff;
    --color_7: #0c3866;
    --color_8:  rgba(135, 172, 202, 0.4);
    --color_9: #073907;
    --color_10: #9370db;
    --color_11: #e3edf6;
    --form_color:rgba(213, 235, 247, 0.50);
  
    --font_master: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    --font_company_name: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    --opacity_1: 55%;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    font-family: var(--font_master);
  }
  
  .container {
    display: flex;
  }
  
  /*side bar*/
  
  .sidebar {
    flex: 1;
    background-color: var(--color_7);
    color: var(--color_6);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-title {
    margin-left: 5%;
  }
  
  .navi-item {
    padding: 1rem 0.5rem 1rem 0.5rem;
    display: block;
    color: var(--color_6);
    font-weight: bold;
    margin-top: 1%;
    display: flex;
    align-items: center;
    margin-left: 3%;
  }
  
  .navi-item:hover {
    background-color: var(--color_5);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navi-item:current {
    background-color: var(--color_1);
  }
   
.company_profile {
  margin-left: 1%;
  display: flex;
}
  
.company_name {
  margin-left: 6%;
  font-family: var(--font_company_name);
  color: var(--color_5);
  font-size: 1.5rem;
  margin-top: 8%;
}
  
  .user_name {
    margin-left: 30%;
    font-family: var(--font_master);
    color: var(--color_5);
    font-size: 1.4rem;
    font-style: bold;
  }
  
  .profile-img{
  margin: 7% 45%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 2%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color_7);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    z-index: 1;
    top: 100%; 
    border-radius: 5px;
  }
  
  .dropdown:hover .dropdown-content {
    flex-direction: column; 
    align-items: center;
    display: flex;
  }
  
  .dropdown-item {
    padding: 1rem 2rem;
    text-decoration: none;
    display: block;
    color: var(--color_6);
    font-size: 1rem;
    display: flex;
  }
  
  .dropdown-title {
    display: flex;
    align-items: center;
  }
  
  .sidebar-user,
  .sidebar-notification,
  .sidebar-options,
  .sidebar-logout {
    margin-left: 5%;
  }
  
  .dropdown-title:hover {
    background-color: var(--color_5);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sidebar_office_building{
    height:10%;
    width: 2%;
  }
  
  
  /* main content part */
  
  .main-content {
    flex: 5;
    background-color: var(--color_8);
    display: flex;
    height: 100vh;
  }

  .dashboard-container-finance{
    flex: 1;
    display: grid;
    grid-template-rows:1r 3fr ;
    height: 100vh;
  }

  .row-1-finance-dashboard{
  margin: 1%;
  display: grid;
  grid-template-columns: 2.5fr 1fr ;
 
  }

  .row-2-finance-dashboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  }

  .row-1-column-1{
  display: grid;
  grid-template-rows: 1fr 0.7fr;
  }

  .row-1-column-2{
    margin: 2% 2% 2% 2%;
   background-color: var(--color_7);
   border-radius: 10px;
  }
  .row-1-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }
   
  .row-2-box{
    display: grid;
    grid-template-columns: 1fr 1fr;  
  }
  
  .finance-overview-box{
    margin: 2%;
    background-color: var(--color_6);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--color_5);
    border-width: 2px;
    display: flex;
   
  }

  .non-routin-expenses,.transaction-log{
    margin: 2%;
    background-color: var(--color_6);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--color_5);
    border-width: 2px;
    display: flex;
    align-items: center; 
  }

  .box-c{
    margin: 0% 2% 2% 3.6%;
    background-color: var(--color_6);
    border-radius: 10px; 
  }

  .box-d{
    margin: 0% 2% 2% 1%;
    background-color: var(--color_6); 
    border-radius: 10px;
  }
 


.non-routine-expense-icon{
  background-color: var(--color_5);
  height: 22%;
  width: 8%;
  margin: 4%;
  padding: 1.5% 1%;
  border-radius: 8px;
}

.transaction-log{
border-radius: 5px;
background-color: var(--color_6);
margin-bottom: 2%;
border-width: 3px;
border-color: var(--color_5);
border-style: solid;
display: flex;
border-width: 2px;
}

.payment-overview-maintenace-chart{
  border-radius: 5px;
  background-color: var(--color_6);
  margin: 1% 2% 1% 0% ; 
}

.finance-dash-tile-img{
 background-color: var(--color_5); 
 height: 20%;
 margin: 4%; 
 padding: 2%;
 border-radius: 10px;
 
}

.finance-dash-tile-heading{
  color: var(--color_5);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10% 5% ;
}

.total-fund,.total-income,.total-expense{
  margin: 10% 5% 0%;
  color: var(--color_4);
  font-size: 1.8rem;
  text-align: right;
}

.non-routin-expenses-heading,.transaction-log-heading{
  margin: 7% 1%;
  color: var(--color_5);
  font-weight: bold;
  font-size: 1.1rem;
}

.payment-overview-maintenace-chart-heading{
  margin: 2%;
  color: var(--color_4);
  font-weight: bold;
  font-size: 1.1rem; 
}

.finance-document-heading{
  margin: 2%;
  color: var(--color_4);
  font-weight: bold;
  font-size: 1.1rem;  
}

.payment-status-chart-1{


}

.payment-status-chart-2{
 height: 85%;
  
 }


.calendar{
  background-color: var(--color_7);
  user-select: none; 
  border-radius: 10px; 
}
  .calendar.calendar-container{
    background-color: var(--color_7);
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    height: 50%;
   
  }
  
  .calendar-container .month{
    width: 84%;
    background-color:var(--color_7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color_6);
    padding: 0% 8% ;
    text-align: center;
    border-radius: 10px;
  }
  
  .month h2{
    font-size: 1.3rem;  
  }
  
  .month p{
    font-size: 1.1rem;
  }
  
  .month .arrow{
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    line-height: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .month .arrow:hover{
    background-color:var(--color_9);
  }
  
  .calendar .week{
    display: flex;
    background-color: var(--color_5);
    color: var(--color_6);
  }
  
  .week div{
    width: 14.28%;
    text-align: center;
    padding: 1.5% 0%;
    transition: 0.4s;
  }
  
  .week .active{
    background-color: var(--color_9);
  }
  
   .dates{
    display: flex;
    flex-wrap: wrap;
    padding: 1% 0;
    color: var(--color_11);
  }
  
  .dates div{
    width: 11.1%;
    height: 10%;
    margin: 2.5px;
    margin-top: 1.7px;
    text-align: center;
    line-height: 100%;
    border: 3px solid var(--color_6);
    padding: 1% 0%;
  }
  
  .dates .today{
    background-color:var(--color_5);
    color: var(--color_6);
  }
  
  .dates .today:hover{
    background-color:var(--color_5);
    font-size: 1rem;
    font-weight: 200;
  }
  
  .dates div:hover:not(.today){
    background-color: var(--color_6);
    color:var(--color_5);
    font-size: 600;
    cursor: pointer;
    -webkit-box-reflect: below 4px linear-gradient(transparent, #0000004d);
    border: 3px solid var(--color_5);
  }
  
  .dates div:nth-child(n+27):hover{
    -webkit-box-reflect: above 4px linear-gradient(transparent, #0000004d);
  }
  
  .calendar-container .dates div:nth-child(n+38){
    border: none !important;
    cursor: auto !important;
    background: none !important;
  }
  
  .dates .prev, .dates .next{
    opacity: 0.5;
  }
  
  .dates .prev:hover,
  .dates .next:hover{
    opacity: 1;
  }
  
  .new-calendar-event{
    color: var(--color_6);
    float: right;
    padding: 2% 3%;
    border: var(--color_6);
    border-style: solid;
    margin: 2%;
  }