:root {
  --color_1: #f43c6e;
  --color_2: #7ec4ff;
  --color_3: #408dff;
  --color_4: #154aaa;
  --color_5: #4cc2c4;
  --color_6: #ffff;
  --color_7: #0c3866;
  --color_8:  rgba(135, 172, 202, 0.4);
  --color_9: #073907;
  --color_10: #9370db;
  --color_11: #e3edf6;
  --form_color:rgba(213, 235, 247, 0.50);

  --font_master: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --font_company_name: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --opacity_1: 55%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  display: flex;
  font-family: var(--font_master);
}

.container {
  display: flex;
}

/*side bar*/

.sidebar {
  flex: 1;
  background-color: var(--color_7);
  color: var(--color_6);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  margin-left: 5%;
}

.navi-item {
  padding: 1rem 0.5rem 1rem 0.5rem;
  display: block;
  color: var(--color_6);
  font-weight: bold;
  margin-top: 1%;
  display: flex;
  align-items: center;
  margin-left: 3%;
}

.navi-item:hover {
  background-color: var(--color_5);
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.navi-item:current {
  background-color: var(--color_1);
}

.company_profile {
  margin-left: 1%;
}

.company_name {
  margin-left: 6%;
  font-family: var(--font_company_name);
  color: var(--color_5);
  font-size: 2rem;
}

.user_name {
  margin-left: 30%;
  font-family: var(--font_master);
  color: var(--color_5);
  font-size: 1.4rem;
  font-style: bold;
}

.profile-img{
margin: 7% 45%;

}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 2%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color_7);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
  z-index: 1;
  top: 100%; 
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  flex-direction: column; 
  align-items: center;
  display: flex;
}

.dropdown-item {
  padding: 1rem 2rem;
  text-decoration: none;
  display: block;
  color: var(--color_6);
  font-size: 1rem;
  display: flex;
}
.dropdown-title {
  display: flex;
  align-items: center;
}
.sidebar-user,
.sidebar-notification,
.sidebar-options,
.sidebar-logout {
  margin-left: 5%;
}

.dropdown-title:hover {
  background-color: var(--color_5);
  border-radius: 5px;
  cursor: pointer;
}

.sidebar_office_building{
  height:10%;
}
/* main content part */

.main-content {
  flex: 5;
  background-color: var(--color_8);
  display: flex;
  height: 100vh;
}


/*first column*/

.first-column,.second-column{
  border-radius: 5px;
  border-color: var(--color_4);
  border-width: 2px;
  height: 97%;  
}

.first-column{
  flex: 3;
}

.announcment-container {
  margin: 1.5% 3.5% 0% 3.5%;
  background-color: var(--color_6);
  border-radius: 5px;
  border-color: var(--color_4);
  border-width: 2px;
  height: 46%;
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.1);
  
}

.announcment-title{
  padding: 2% 0% 0% 4%;
  border-radius: 5px;
}

.announcement-tile {
  border-color: var(--color_4);
  flex: 1;
  margin: 2% 3% 2% 3%;
  padding: 2% 0;
  background-color: var(--color_11);
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  border-style: solid ;
  border-width: 1px;
  border-color: var(--color_2);
}


.tile-header {
  font-size: 1.5rem;
  padding-left: 3%;
  
}

.tile-header1{
  font-size: 1.3rem;
  padding-left: 3%;
}
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
}


.dashboard-tile2,
.dashboard-tile4 {
  flex: 1;
  margin-right: 3.5%;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 1%;
  padding: 6.4% 0;
  background-color: var(--color_6);
  border: 2px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.1);
  border-color: var(--color_4);
  border-style: solid;
  display: flex;
}

.dashboard-tile1,
.dashboard-tile3{
  margin-right: 5%;
  margin-left: 3.5%;
  margin-bottom: 1%;
  flex: 1;
  margin-top: 2%;
  padding: 6.4% 0;
  background-color: var(--color_6);
  border: 2px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.1);
  border-color: var(--color_4);
  border-style: solid;
  display: flex;
}


.complaints_img,
.amenities_img,
.issues_img,
.payment_img {
 width: 7%;
 margin-left: 10%;

}

/*second column*/

.second-column{
flex:1;

}

.calendar{
  margin: 5.5% 6% 0% 0%;
  background-color: var(--color_6);
  border-radius: 5px;
  border-color: var(--color_4);
  border-width: 2px;
  height: 40%;
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.1);
}

.calendar-img{
  height: 80%;
  margin: 0% 8%;
}
.private-files{
  margin: 6% 6% 0% 0%;
  background-color: var(--color_6);
  border-radius: 5px;
  border-color: var(--color_4);
  border-width: 2px;
  height: 14%;
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.1); 
}

.manage-documents{
 padding: 2% 3% 2% 2%;
 background-color: var(--color_11);
 margin:0% 3.5% 0% 4% ;
 border-radius: 5px;
 border-style: solid ;
 border-width: 1px;
 border-color: var(--color_2);
}

.events-name{
 
  border-radius: 5px;
  margin: 3.5% 2% ;
  padding: 2% 3% 2% 2%;
  background-color: var(--color_11);
  border-style: solid ;
  border-width: 1px;
  border-color: var(--color_2);
}
.second-column-heading{
  padding: 2% 4% 0% ;
}

.Up-comming-events{
  margin: 6% 6% 0% 0%;
  background-color: var(--color_6);
  border-radius: 5px;
  border-color: var(--color_4);
  border-width: 2px;
  height: 37.5%;
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.1);
}

 /*complaints*/


.complaint-type,.complaint-log-content {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 1%; 
  background-color: var(--color_6);
}

.complaint-log-content{
  background-color: var(--color_6);
  grid-template-columns: 1.5fr 1.5fr 1.2fr  5fr 1.5fr;
}
.complaint-log,.new-complaint {
  padding: 3%;
  border-color: var(--color_4);
  border-width: 2px; 
}


.complaint-log{
  border-right: 2px solid var(--color_4);
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.1);
  margin: 1.5%;
}
.new-complaint{
  
  margin: 1.5%;
  opacity: var(--opacity_1);
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.1);
 
}
.complaint-log-content {
  padding: 2%;
  border-radius: 5px;
  border-color: var(--color_4);
  border-width: 1px;
  border-style: solid;
  margin-top: 1%;
  cursor: pointer;
}

.complaint-type-title{
  font-size: 1.2rem;
  color: var(--color_4);
  margin-left: 3%;
  font-weight: bold;
}

.select-complaint-img{
  height: 80%;
  margin-left: 3%;
  
}

.new-complaint-img{
  height: 80%;
  margin-left: 3%;
}

.file-column,.description-column,.id-column,.date-column{
  border-right: 2px solid var(--color_4);
  
}

.file-image{
  height: 70%;
  width:40%;
  margin-left: 20%;
}

.complaint-type-heading{
  margin: 1% 0%;
}

.complaint-id-heading{
  margin: 8% 0%;
}

.complaint-date-heading{
  margin: 6% 0%;
}

.complaint-file-heading{
  margin: 6% 0% 0%;
}
.complaint-id{
  margin-top: 5%;
}

.complaint-description{
  margin: 1% 0%;
}

.complaint-status-heading{
  margin: 2% 0% 0%; 
}
.complaint-date{
  margin: 10%;
}

.status-inprogress{
  padding: 3% 0%;
  background-color: var(--color_2);
  text-align: center;
  margin-left: 13%;
  border-radius: 5px;
}

.status-completed{
  padding: 3% 0%;
  text-align: center;
  margin-left: 13%;
  background-color: var(--color_5);
  border-radius: 5px;
}


.new-complaint:hover{
  margin: 1.5%;
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.4);
  cursor: pointer;
  opacity: 100%;
 
}

.complaint-log:hover{
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.4);
  cursor: pointer;
}


.complaint-type-title:hover{
  font-size: 1.4rem;
  color: var(--color_7);
  margin-left: 3%;
  color: var(--color_4);
}

.complaint-log-content:hover{
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.4);
  translate: 1%;
}


/*new complaint*/


.new-complaint-landing{
height: 94%;
width: 98%;
background-color: var(--color_6);
margin:2% 3%;
}

.complaint-column-new{
  
  margin: 2% 2% 2% 2%;
}

.new-complaint-log,.new-complaint-new {
  padding: 4%;
  border-color: var(--color_4);
  border-width: 2px; 
}

.new-complaint-log{
 
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.1);
  margin: 1.5%;
  opacity: var(--opacity_1);
}

.new-complaint-new{
  margin: 1.5%;
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.1);
 
}

.new-complaint-new:hover{
  margin: 1.5%;
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.4);
  cursor: pointer;
}

.new-complaint-log:hover{
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.4);
  cursor: pointer;
  opacity: 100%;
}

.new-complaint-container {
  display: grid;
  grid-template-columns: 2fr 10fr; 
  height: 75vh; 
}

.nested-grid {  
    grid-template-columns: repeat(6, 1fr); 
    grid-gap: 10px; 
}

.form-column {
    padding: 2%;  
    margin-left: 3%;
}
.attachment-column{
  padding: 2%;  
  margin-left: 3%;
  margin-top:50%;
}

select{
  background-color:var(--form_color);
  padding: 1% 8%;
  border: none;
  
}

textarea{
  background-color:var(--form_color);
  padding: 1% 5%;
  border: none;
  width: 90%;
}

textarea{
  background-color:var(--form_color);
  padding: 1% 5%;
  border: none;
  width: 90%;
}

input{
  background-color:var(--form_color);
  padding: 1% 5%;
  border: none;
  width: 90%;
  height: 30%;
  align-content: center;
}

.drop-area {
  background-color:var(--form_color);
  padding: 1% 5%;
  border: none;
  width: 83%;
  margin: 0% 8% 0% 5%;
  text-align: center;
  color: var(--color_4);
}

.upload-cloud-img{
  margin-top: 1%;
}


input[type="file"] {
  display: none;
}

.file {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.custom-file-upload {
  display: inline-block;
  padding: 1% 2%;
  background-color:var(--form_color);
  border-color:var(--color_4);
  cursor: pointer;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

.submit-column{
  padding: 2%;  
  margin-left: 3%;
}

.cancel-btn, .submit-btn,.edit-btn,.delete-btn {
  padding: 1% 2%;
  cursor: pointer;
  border: solid;
  border-radius: 5px;
  font-family: var(--font_master);
  font-size: 1.2rem; 
}
.cancel-btn{
  margin-left: 70%;
  background-color: var(--color_6);
  border-color: var(--color_4);
  color: var(--color_4);
 
}

.submit-btn{
  margin-left: 1%;
  background-color: var(--color_7);
  color: var(--color_6);
  border-color: var(--color_7);
}
.cancel-btn:hover{
  background-color: var(--color_7);
  border-color: var(--color_7);
  color: var(--color_6);
}

.submit-btn:hover{
  background-color: var(--color_6);
  border-color: var(--color_4);
  color: var(--color_4); 
}


/*submission confirmation*/


.submission-confirmation{
 background-color: var(--color_6);
 border: #0c3866;
 flex: 1;
 margin: 18% 30%;
 text-align: center;
 padding: 1.5%;
 border-radius: 8px;
 box-shadow: 0 8px 16px rgba(7, 7, 85, 0.4);
 display: grid;
}

.confirmation-heading{
  color: var(--color_4);
  margin: 0%;
}
.submit-column-confirmation{
  padding: 1%;  
}

.cancel-btn-confirmation, .submit-btn-cofirmation {
  padding: 1% 2%;
  cursor: pointer;
  border: solid;
  border-radius: 5px;
  font-family: var(--font_master);
  font-size: 1.2rem; 
}
.cancel-btn-confirmation{
  margin-left: 5%;
  background-color: var(--color_6);
  border-color: var(--color_4);
  color: var(--color_4);
 
}

.submit-btn-cofirmation{
  margin-left: 8%;
  background-color: var(--color_7);
  color: var(--color_6);
  border-color: var(--color_7);
}

.submit-btn-cofirmation:hover{
  background-color: var(--color_6);
  border-color: var(--color_4);
  color: var(--color_4); 
}

.cancel-btn-confirmation:hover{
  background-color: var(--color_7);
  border-color: var(--color_7);
  color: var(--color_6);
}

/*sucsessful submission*/

.submission-successful{
  background-color: var(--color_6);
  border: #0c3866;
  flex: 1;
  margin: 19% 35% 21%;
  text-align: center;
  padding: 1.5%;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.4);
  display: grid;
}
.submission-heading{
  color: var(--color_4);
  margin: 0%;
  
}
.check-square{
  width: 20%;
  margin: 0% 40%;
}


/*complaint-view*/

.submitted-answers{
  background-color:var(--form_color);
  padding: 0% 0%;
  border: none;
  
}

.form-column-view{
  padding:0% 2%;  
  margin:1% 3%;
}

.form-column-view-subject{
  padding: 1%;  
  margin: 3%;
}

.form-column-view-description{
  padding: 1%;  
  margin-top: 1%;
}

.attachment-column-view{
   
  margin-top: 20%;
}

.complaint-view-file{
  margin: 3% 40%;
  width: 6%;
}

.view-complaint-landing{
  height: 60%;
  width: 98%;
  background-color: var(--color_6);
  margin:5% 7%;
  }

  .edit-btn{
    margin-left: 70%;
    background-color: var(--color_6);
    border-color: var(--color_1);
    color: var(--color_1);
   
  }
  
  .delete-btn{
    margin-left: 1%;
    background-color: var(--color_1);
    color: var(--color_6);
    border-color: var(--color_1);
  }
  .edit-btn:hover{
    background-color: var(--color_1);
    border-color: var(--color_1);
    color: var(--color_6);
  }
  
  .delete-btn:hover{
    background-color: var(--color_6);
    border-color: var(--color_1);
    color: var(--color_1); 
  }

  /* issue*/

  .issue-landing{
    height: 90%;
    width: 96%;
    background-color: var(--color_6);
    margin:2% 3%;
    padding: 1%;
    }
   

  .issue-column{
    margin: 2% 2% 2% 2%;
  }
  
  .issue-type,.issue-log-content {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 1%; 
    background-color: var(--color_6);
  }
  
  .issue-log-content{
    background-color: var(--color_6);
    grid-template-columns: 1.5fr 1.5fr 1.2fr  5fr 1.5fr;
  }
  .issue-log,.new-issue {
    padding: 3%;
    border-color: var(--color_4);
    border-width: 2px; 
  }
  
  
  .issue-log{
    border-right: 2px solid var(--color_4);
    box-shadow: 0 8px 16px rgba(7, 7, 85, 0.1);
    margin: 1.5%;
  }
  .new-issue{
    
    margin: 1.5%;
    opacity: var(--opacity_1);
    box-shadow: 0 8px 16px rgba(7, 7, 85, 0.1);
   
  }
  .issue-log-content {
    padding: 2%;
    border-radius: 5px;
    border-color: var(--color_4);
    border-width: 1px;
    border-style: solid;
    margin-top: 1%;
    cursor: pointer;
  }
  
  .issue-type-title{
    font-size: 1.2rem;
    color: var(--color_4);
    margin-left: 3%;
    font-weight: bold;
  }
  
  .select-complaint-img{
    height: 80%;
    margin-left: 3%;
    
  }
  
  .new-complaint-img{
    height: 80%;
    margin-left: 3%;
  }
  
  .file-column,.description-column,.id-column,.date-column{
    border-right: 2px solid var(--color_4);
    
  }
  
  .file-image{
    height: 70%;
    width:40%;
    margin-left: 20%;
  }
  
  .issue-type-heading{
    margin: 1% 0%;
  }
  
  .issue-id-heading{
    margin: 8% 0%;
  }
  
  .issue-date-heading{
    margin: 6% 0%;
  }
  
  .issue-file-heading{
    margin: 6% 0% 0%;
  }
  .issue-id{
    margin-top: 5%;
  }
  
  .issue-description{
    margin: 1% 0%;
  }
  
  .issue-status-heading{
    margin: 2% 0% 0%; 
  }
  .issue-date{
    margin: 10%;
  }
  
  .status-inprogress{
    padding: 3% 0%;
    background-color: var(--color_2);
    text-align: center;
    margin-left: 13%;
    border-radius: 5px;
  }
  
  .status-completed{
    padding: 3% 0%;
    text-align: center;
    margin-left: 13%;
    background-color: var(--color_5);
    border-radius: 5px;
  }
  
  
  .new-issue:hover{
    margin: 1.5%;
    box-shadow: 0 8px 16px rgba(7, 7, 85, 0.4);
    cursor: pointer;
    opacity: 100%;
   
  }
  
  .isssue-log:hover{
    box-shadow: 0 8px 16px rgba(7, 7, 85, 0.4);
    cursor: pointer;
  }
  
  
  .issue-type-title:hover{
    font-size: 1.4rem;
    color: var(--color_7);
    margin-left: 3%;
    color: var(--color_4);
  }
  
  .issue-log-content:hover{
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(7, 7, 85, 0.4);
    translate: 1%;
  }

  /*new issue*/


.new-issue-landing{
  height: 94%;
  width: 98%;
  background-color: var(--color_6);
  margin:2% 3%;
  }
  
  .issue-column-new{
    
    margin: 2% 2% 2% 2%;
  }
  
  .new-issue-log,.new-issue-new {
    padding: 4%;
    border-color: var(--color_4);
    border-width: 2px; 
  }
  
  .new-issue-log{
   
    box-shadow: 0 8px 16px rgba(7, 7, 85, 0.1);
    margin: 1.5%;
    opacity: var(--opacity_1);
  }
  
  .new-issue-new{
    margin: 1.5%;
    box-shadow: 0 8px 16px rgba(7, 7, 85, 0.1);
   
  }
  
  .new-issue-new:hover{
    margin: 1.5%;
    box-shadow: 0 8px 16px rgba(7, 7, 85, 0.4);
    cursor: pointer;
  }
  
  .new-issue-log:hover{
    box-shadow: 0 8px 16px rgba(7, 7, 85, 0.4);
    cursor: pointer;
    opacity: 100%;
  }
  
  .new-issue-container {
    display: grid;
    grid-template-columns: 2fr 10fr; 
    height: 75vh; 
  }

   /*amenities*/

  
.amenity{
  display: grid;
  grid-template-rows: 2.5fr 1fr; 
  flex: 1;
  
}

.container-amenity-details {
  display: grid;
  grid-template-columns: 1.5fr 1.6fr 1fr; 
}

.up-coming-booikng{
 background-color: var(--color_6);
 margin: 5.5% 14% 4% 7%;
 
}

.booking-history{
  background-color: var(--color_6);
  margin: 5.3% 20% 4% -10%;
  overflow: auto;
}

.booking-calendar{
 background-color: var(--color_6);
 margin: 7.9% 9% 7% -26%;
}

.container-amenity-tiles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}
.pool-container,.fitness-center-container,.common-area-container{
  margin: 2.5% 7% ;
  background-color: var(--color_7);
  border-color: var(--color_6);
  border-style: solid;
  border-width: 1rem;
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.7);
}

.amenity-heading{
  color: var(--color_6);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10%;
  text-transform: capitalize;
}
.pool-image,.gym-image,.common-image{
  width: 40%;
  height: 55%;
  margin-top: 5%;
  margin-left: 30%; 
}

.up-coming-booikng-heading{
  margin: 3% 0% 0% 5%;
}

.booking-tiles{
  background-color:var(--color_6);
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.2);
  padding: 2%;
  margin: 2% 3%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1.3fr 1.2fr 1.5fr;
}

.booking-date,.booking-time{
  border-right:solid  var(--color_4); 
}

.booking-date,.booking-time,.booking-type{
  margin-left: 3%;
  padding: 8%;
}

.booking-tiles-history{
  background-color:var(--color_6);
  box-shadow: 0 8px 16px rgba(7, 7, 85, 0.2);
  padding: 0%;
  margin: 2% 3%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 0.7fr 1.1fr 1fr;
  overflow: auto;
}

.booking-date-history,.booking-time-history,.booking-type-history,.booking-status{
  margin-left: 3%;
  padding: 1%;
}

.booking-date-history,.booking-time-history,.booking-type-history{
  border-right:solid  var(--color_4); 
}
.booking-history-heading{
  display: flex;
}

.booking-history-img,.up-coming-booking-img{
  width: 5%;
  height: 5%;
  margin: 2% 2% 0% 5%;
}

.up-coming-booking-img{
  width: 6%;
  height: 5%;
  margin: 2% 2% 0% 5%;
}

.booking-calendar-img{
  width: 6%;
  height: 5%;
  margin: 2% 2% 0% 5%;
}

.booking-history-title,.up-coming-booking-title,.booking-calendar-title{
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color_4);
  margin-top: 2%;
  
}

/*booking interface*/

.booking-container{
  background-color: var(--color_6);
  height: 92%;
  width: 94%;
  margin: 2% 4%;
 
}

.appointment-heading-container{
display: flex;
padding: 1% 2%;
}

.appoinment-image{
margin-right: 2%;
width: 3%;
margin-top: 0.5%;
height: 5%;
}

.appointment-heading{
font-size: 1.3rem;
font-weight: bold;
color: var(--color_4);
margin-top: 1%;

}

.input-container{
  display: grid;
  grid-template-rows: 1fr 2fr 5fr;
}

.form-date{
  background-color: var(--color_11);
  display: grid;
  padding: 1% ;
  margin: 0% 2%;
}

.date{
  display: grid;
  grid-template-columns:0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  padding: 1%;
}

.date-name{
  background-color: var(--color_6);
  margin: 7% 15%;
  text-align: center;
  padding: 3% 3%;
  border:solid var(--color_2);
  border-width: 1px;
}

.date-name-arrow{
  margin: 30% 25%; 
  background-color: var(--color_6);
  border:solid var(--color_2);
  border-width: 1px;
  padding: 1%;
}
.form-time{
  margin-top: 0.2%;
  background-color: var(--color_11);
  padding: 1%;
  margin: 0% 2%;
}
.time{
  display: grid;
  grid-template-columns: 0.9fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  padding: 1%;
}
.time-name{
  background-color: var(--color_6);
  margin: 7% 12%;
  text-align: center;
  padding: 1% 1%;
  border:solid var(--color_2);
  border-width: 1px;
}
.form-date-heading,.form-time-heading,.form-type-heading{
  border-bottom:solid var(--color_6);
  display: flex;
}

.booking-submit{
  background-color: var(--color_11); 
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0% 2%;
  padding: 2%;
}

.date-of-slot,.time-of-slot,.no-of-people{
  color: var(--color_4);
  font-size: 1.2rem;
  margin-left: 3%;
  font-weight: bold;
  margin-right: 1%;
  padding: 0.5%;
}

.no-of-people{
  padding: 1.5%;
}
#people-no{
  background-color: var(--color_6);
}

.cancel-btn-amenity{
  margin-left: 70%;
  background-color: var(--color_6);
  border-color: var(--color_4);
  color: var(--color_4);
}

.submit-btn-amenity{
 margin-left: 1%;
  background-color: var(--color_7);
  color: var(--color_6);
  border-color: var(--color_7);
}
.cancel-btn-amenity:hover{
  background-color: var(--color_7);
  border-color: var(--color_7);
  color: var(--color_6);
}

.submit-btn-amenity:hover{
  background-color: var(--color_6);
  border-color: var(--color_4);
  color: var(--color_4); 
}

.submit-column-amenity{
  background-color: var(--color_11);
  margin: 0% 2%;
  padding: 1%;
}