:root {
  --color_1: #f43c6e;
  --color_2: #7ec4ff;
  --color_3: #408dff;
  --color_4: #154aaa;
  --color_5: #4cc2c4;
  --color_6: #ffff;
  --color_7: #0c3866;
  --color_8: rgba(135, 172, 202, 0.4);
  --color_9: #073907;
  --color_10:#9370db;
  --color_11:#e3edf6;
  --form_color:rgba(213, 235, 247, 0.50);

  --font_master: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --font_company_name: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --opacity_1: 55%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: var(--font_master);
}

.main-container-forget-password{
  background-color: var(--color_11);
  height: 100vh;
  width: 100vw;
}

.forget-password-container{
  display: grid;
  grid-template-rows: 1fr 2fr;
  height: 90%;
  width: 60%;
  margin: 2% 20%;
  background-color: var(--color_11);
  box-shadow: 3px 1px 5px 2px rgba(127, 131, 168, 0.4);
}

.forget-password-container-a{
  display: grid;
  grid-template-rows: 2fr 0.5fr;

}

.forget-password-title{
  font-size: 1.8rem;
  color: var(--color_4);
  font-weight: bold;
  text-align: center;
  margin: 2%;
}

.forget-password-image{
  height: 95%;
  width: 50%;
  margin: 1% 20% -25% 25%;
}

.form-forget-password {
  margin: 2% 25% 2% 30%;
}

.form-forget-password label {
    display: block;
    margin-bottom: 1%;
    font-size: 1.1rem;
    color: var(--color_4);
    font-weight: bold;
}

.form-forget-password input {
  width: 80%;
  padding: 2%;
  border: 1px solid var(--color_2);
  align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color_6) inset !important;
    -webkit-text-fill-color:var(--color_4) !important;
}

.form-forget-password input {
    width: 85%;
    padding: 3%;
    border: 1px solid var(--color_2);
    background-color: var(--color_6);
}

.form-forget-password input:focus {
  outline: none;
  border-color:var(--color_4);
}

.btn-save-forget-password {
  background-color:var(--color_7);
  color: var(--color_6);
  padding: 1.5%;
  border: none;
  cursor: pointer;
  width: 41%;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2% 25% 2% 30%;
}

.btn-save-forget-password:hover {
  background-color: var(--color_6);
  border-color: var(--color_4);
  border-style: solid;
  color: var(--color_4);
  box-shadow: 3px 0 5px rgba(22, 35, 147, );
}