  :root {
    --color_1: #f43c6e;
    --color_2: #7ec4ff;
    --color_3: #408dff;
    --color_4: #154aaa;
    --color_5: #4cc2c4;
    --color_6: #ffff;
    --color_7: #0c3866;
    --color_8: rgba(135, 172, 202, 0.4);
    --color_9: #073907;
    --color_10:#9370db;
    --color_11:#e3edf6;
    --form_color:rgba(213, 235, 247, 0.50);

    --font_master: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    --font_company_name: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    --opacity_1: 55%;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    font-family: var(--font_master);
  }

.main-container-sign-in{
  background-color: var(--color_7);
  height: 100vh;
  width: 100vw;
}

.sign-in-container{
  background-color: var(--color_11);
  height: 82%;
  width: 70%;
  margin: 4% 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-form{
  margin: 10% 5%; 
}

.form-group {
  margin-bottom: 5%;
}

.form-group label {
    display: block;
    margin-bottom: 2%;
    font-size: 1.2rem;
    color: var(--color_4);
    font-weight: bold;
}

.form-group input {
  width: 80%;
  padding: 3%;
  border: 1px solid var(--color_2);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color:var(--color_4) !important;
}

.form-group input {
    width: 80%;
    padding: 3%;
    border: 1px solid var(--color_2);
    background-color: var(--color_6);
}

.form-group input:focus {
  outline: none;
  border-color:var(--color_4);
}
.form-group .forgot-password {
  text-align: left;
  font-size: 1.1rem;
}

.password-reset{
  display: flex;
}

.btn {
  background-color:var(--color_7);
  color: var(--color_6);
  padding: 3%;
  border: none;
  cursor: pointer;
  width: 86%;
  font-size: 1.1rem;
  font-weight: bold;
}

.btn:hover {
  background-color: var(--color_5);
}

.sign-in-container-company-logo{
  
}

.company-name-sign-in{
  font-size: 2rem;
  font-family: var(--font_company_name);
  color: var(--color_5);
  text-align: center;
}

.logo-sign-in{
  margin-left: 45%;
  margin-top: 5%;
}