:root {
  --color_1: #f43c6e;
  --color_2: #7ec4ff;
  --color_3: #408dff;
  --color_4: #154aaa;
  --color_5: #4cc2c4;
  --color_6: #ffff;
  --color_7: #0c3866;
  --color_8:  rgba(135, 172, 202, 0.4);
  --color_9: #073907;
  --color_10: #9370db;
  --color_11: #e3edf6;
  --form_color:rgba(213, 235, 247, 0.50);

  --font_master: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --font_company_name: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --opacity_1: 55%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: var(--font_master);
}
.main-content{
  margin: 25vh 25vw;
  height: 50vh;
  width: 50vw;
}
.sign-up-congtainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #29086b;
  height: 100%;
  width: 100%;
}
.left{
  height: 100%;
  width: 100%;
  margin: 1%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.right{
  background-color: #4cc2c4;
  height: 100%;
  width: 100%;
  margin: 2%;
}
.a{
  background-color: #4cc2c4; 
  margin: 1%;
}

.b{
  background-color: #4cc2c4; 
  margin: 1%;
}

.c{
  background-color: #4cc2c4; 
  margin: 1%;
}
