:root {
  --color_1: #f43c6e;
  --color_2: #7ec4ff;
  --color_3: #408dff;
  --color_4: #154aaa;
  --color_5: #4cc2c4;
  --color_6: #ffff;
  --color_7: #0c3866;
  --color_8: rgba(135, 172, 202, 0.4);
  --color_9: #073907;
  --color_10:#9370db;
  --color_11:#e3edf6;
  --form_color:rgba(213, 235, 247, 0.50);

  --font_master: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --font_company_name: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --opacity_1: 55%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  display: flex;
  font-family: var(--font_master);
}

.main-content {
  flex: 5;
  background-color: var(--color_8);
  display: flex;
  height:100vh;
  overflow-y: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.dashboard-container-general-manger{
  flex:1;
  display: grid;
  grid-template-columns: 5fr 2fr;
  height: 100%;
}

.first-column{
height: 97%;
display: grid;
grid-template-rows: 0.9fr 3.6fr;
}

.second-column{
  height: 97%;
  display: grid;
  grid-template-rows: 2.5fr 2.2fr;
}

.calendar{
  background-color: var(--color_7);
  margin: 3% 4% 3% 1%; 
  user-select: none;   
}

.calendar.calendar-container{
  background-color: var(--color_7);
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  height: 50%;
}

.calendar-container .month{
  width: 84%;
  background-color:var(--color_7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color_6);
  padding: 0% 8% ;
  text-align: center;
}

.month h2{
  font-size: 1.3rem;  
}

.month p{
  font-size: 1.1rem;
}

.month .arrow{
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  line-height: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.month .arrow:hover{
  background-color:var(--color_9);
}

.calendar .week{
  display: flex;
  background-color: var(--color_5);
  color: var(--color_6);
}

.week div{
  width: 14.28%;
  text-align: center;
  padding: 1.5% 0%;
  transition: 0.4s;
}

.week .active{
  background-color: var(--color_9);
}

 .dates{
  display: flex;
  flex-wrap: wrap;
  padding: 1% 0;
  color: var(--color_11);
}

.dates div{
  width: 11.1%;
  height: 10%;
  margin: 2.5px;
  margin-top: 1.7px;
  text-align: center;
  line-height: 100%;
  border: 3px solid var(--color_6);
  padding: 1% 0%;
}

.dates .today{
  background-color:var(--color_5);
  color: var(--color_6);
}

.dates .today:hover{
  background-color:var(--color_5);
  font-size: 1rem;
  font-weight: 200;
}

.dates div:hover:not(.today){
  background-color: var(--color_6);
  color:var(--color_5);
  font-size: 600;
  cursor: pointer;
  -webkit-box-reflect: below 4px linear-gradient(transparent, #0000004d);
  border: 3px solid var(--color_5);
}

.dates div:nth-child(n+27):hover{
  -webkit-box-reflect: above 4px linear-gradient(transparent, #0000004d);
}

.calendar-container .dates div:nth-child(n+38){
  border: none !important;
  cursor: auto !important;
  background: none !important;
}

.dates .prev, .dates .next{
  opacity: 0.5;
}

.dates .prev:hover,
.dates .next:hover{
  opacity: 1;
}

.new-calendar-event{
  color: var(--color_6);
  float: right;
  padding: 2% 3%;
  border: var(--color_6);
  border-style: solid;
  margin: 2%;
}
.column-box-2{
  background-color: var(--color_6);
  margin: 1% 3% -2% 1%;
}
.first-row{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.no-of-flats{
  margin: 3% 3% 1%;
  background-color:var(--color_6);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 2%;
  transition: transform 0.3s ease;
}

.no-of-flats:hover {
  transform: translateY(-5px);
}

.title-dashboard-tiles {
  font-size: 1.5rem;
  margin-bottom: 2%;
  text-align: center;
  position: relative;
}

.content-info div {
  font-size: 1.2rem;
  margin: 1% 0;
  color: #555;
  letter-spacing: 0.5px;
}

.content span {
  font-weight: bold;
  float: right;
  color: #333;
}

.total-flats {
  border-bottom: 2px solid #eee;
  padding-bottom: 15px;
}

.total-residents{
  margin: 3% 1% 1%;
  background-color: var(--color_6);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 2%;
  transition: transform 0.3s ease;
}

.total-residents:hover{
  transform: translateY(-5px); 
}

.no-of-staff{
  margin: 3% 2% 1%;
  background-color: var(--color_6);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 2%;
  transition: transform 0.3s ease;
}


.second-row{
  margin:1% 1% -1% 1%;
  background-color: var(--color_6);
  flex: 1;
}

.rectangle-1{
  background-color: var(--color_6);
  margin:-1.5% 1% -3% 0.5%;
}

.rectangle-2{
  background-color: var(--color_6); 
  margin:-1.5% 0.3% -3% 1.5%;
}